html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* prend l'espace restant entre header et footer */
  padding: 20px;
}

footer {
  font-size: 30px;
  background: #ff6961;
  color: white;
  text-align: center;
  padding: 15px;
}

footer a {
  color: white;
}

header {
  background: #ff6961;
  color: white;
  text-align: center;
}

div h1{
  color : #ff6961;
}
