<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Événement du jour</title>
  <meta name="description" content="anniversaire d'événement historique">
  <link rel="icon" href="static/logo.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    📅 Anniversaire historique du jour
  </header>

  <div class="container">
      {% for event in events %}
        <a href=event.url target="_blank">
           <button>event.text</button>
        </a>
      {% endfor %}
  </div>

  <footer>
    Site codé par Bary Bastian — Événements historiques écrits par 
    <a href="https://www.thebookedition.com/fr/14606_philippe-evrard" target="_blank">Evrard Philippe</a>
  </footer>
</body>
</html>
